html, body{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

/* navbar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #415d74;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;

}

a{
    margin: 15px 30px;
    color: white;
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid white;
}

/* title including name  */
.name{
    text-align: center;
    color: white;
}
#name{
    font-weight: bold;
    font-size: 80px;
}
#name-st{
    font-size: 30px;
}

.parallax {
    padding: 100px;
    background: transparent;
}

/* paragraph stuff */

.p-container{
    z-index: 2;
    width: auto;
    margin: 40px;
    background: rgba(70, 73, 76, 0.5);
    font-size: 24px;
    padding: 40px;
}
.info{
    position: relative;
    color: white;
}


